# В этом модуле мы разберем:
1. Как установить Python
2. Как создать переменную в Python
3. Как работать с переменными в Python

### Как установить Python

1. Переходим на сайт https://www.python.org/

### Как создать переменную в Python

**Переменная** - это именнованная область памяти, куда мы можем записывать какие-либо значения

Легко! Достаточно просто написать название переменной, потом поставить знак **=**(равно), а дальше написать значение нашей переменной

In [1]:
 a = 5

Чтобы вывести значение нашей переменной, необходимо написать **print()** и в круглых скобочках указать название нашей переменной

In [3]:
print(a)

5

Здорово! Давайте создадим еще больше переменных!

In [5]:
b = 1
c = 1000000
d = 1241274893891527375771375197589712987589319375897334

И все это выведем

In [6]:
print(b)
print(c)
print(d)

1
1000000
1241274893891527375771375197589712987589319375897334

Хм, для того, чтобы вывести три переменной нам понадобилось 3 раза написать **print**. Наверное, это можно сделать как-нибудь еще. Действительно, все эти 3 переменные можно вывести, написав только один раз **print**. Для этого достаточно просто указать их все через **,**(запятую) в скобках

In [7]:
print(b, c, d)

1 1000000 1241274893891527375771375197589712987589319375897334

Давайте создадим еще переменные. Через . (точку) мы можем создавать переменные, которые имеют дробное значение. Другими словами, мы можем объявлять десятичные дроби. Переменные, которые являются целыми числами, то есть без дробной части, имеют тип **int** . А те переменные, у которых есть дробная часть, имеют тип **float**

In [16]:
n = 100 # int переменная
m = 12.5 # float переменная

In [17]:
print(n, m)

100 12.5

Причем, мы можем из типа **int** переходить в тип **float**. И наоборот. Для этого достаточно написать **int**  и внутри скобочек написать имя переменной, которую мы хотим привести к этому типу

In [21]:
print(int(n))

100

In [22]:
print(int(m))

12

Заметьте, **int** в **int** может переводиться. Если мы переводим **float** в **int**, то у нас остается только целая часть от десятичной дроби

Круто! Мы создали так много переменных, что еще мы можем с ними делать? Например, можем применить к ним математические операции

Сложение

In [12]:
print(n + m)

112.5

Вычетание

In [23]:
print(n - m)

87.5

Умножение

In [24]:
print(n * m)

1250.0

Немного непросто обстоят дела с делением. У нас есть 3 вида деления:
- Простое деление. Обозначается **/**. Оно возращает и целую и дробную часть от деления, значение типа *float*.
- Деление без остатка. Обозначается **//**. Оно возращает только целую часть от деления, значение типа *int*
- Деление только с остатком. Обозначается **%**. Оно возвращает только остаток от деления, значение типа *int*.

Давайте рассмотрим примеры

In [26]:
125 / 25

5.0

In [27]:
124 / 25

4.96

In [28]:
125 // 25

5

In [29]:
124 // 25

4

In [30]:
125 % 5

0

In [34]:
124 % 25

24

Хм, почему же результат не 96? Все потому что остаток в данном случае, это значение которое получается в самом конце деления в столбик

![Деление в стлбик](../images/division.png)

Вроде мы уже рассмотрели базовые операции над числами. Осталось только сказать, что с их помощью можно составлять математические выражения и записывать результат в переменные. Причем приориет у операций такой же, как и в математике

In [35]:
g = 9.8
s = 10 * g - 120

Теперь давайте рассмотрим как нам присваивать значение переменной, когда мы не хотим постоянно изменять код программы. Для того, чтобы это сделать напишем **int(input())**

In [39]:
age = int(input())
print("Тебе", age, "лет")

18
Тебе 18 лет

На самом деле у нас есть еще один тип данных - **string**

Но мы сейчас детально не будем касаться этого типа, скажем только, чтобы задать переменной значение строки нужно написать название переменной, потом поставить равно, и в конце в кавычках *"* написать строку

In [40]:
name = "Марк"
print(name)

Марк

Для начала этого достаточно! Теперь вам предстоит выполнить домашние задания

### Домашнее Задание 1

Пусть дан прямоугольный треугольник ABC. Вводятся значения двух сторон треугольника, которые не являются гипотенузой. Найти с помощью данных двух сторон квадрат гипотенузы

*Подсказака*: Квадрат гипотенузы находится по формуле a * a = b * b + c * c, где a - длина гипотенузы, b и c - катеты (две другие стороны треугольника)

### Домашнее задание 2

n школьников делят k яблок поровну, неделящийся остаток остается в корзинке. Сколько яблок достанется каждому школьнику? Сколько яблок останется в корзинке? Программа получает на вход числа n и k и должна вывести искомое количество яблок (два числа).